body, html {
    /* height: 100vh; */
    color: white;
    font-size: 24px;
    background: linear-gradient(to right, #ff7e5f, #7b67d3);
    background-size: 400% 450%;
    animation: gradientBG 15s ease infinite;
    scroll-behavior: smooth;
}

.invisible-navbar {
    position: fixed;
    top: 0px;
    background-color: transparent; /* Navbar is transparent */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed; /* Navbar is fixed at the top of the page */
    width: 100%;
    transition: background-color 0.3s;
    
}

.invisible-navbar ul {
    list-style: none;
    padding: 0;
}

.invisible-navbar ul li {
    display: inline;
    margin-right: 20px;
}

.invisible-navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}



/* Sections */
#home{
    height: 50vh;
    padding: 120px;
    margin-top: 100px;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.638); 
    
}
#home h1,#home p, #home div, #home a {
    
    display: flex;
    justify-content: center;
    align-items: center;
    

}

svg { 
    fill: rgb(250, 250, 250); /* Default color */ 
    transition: fill 0.3s; /* Add a smooth transition effect */ 
  } 
   
  svg:hover { 
    fill: rgb(3, 0, 0); /* Color on hover */ 
  }
#project,#about,#contact{
    margin-top: 60px;
    height: 400px; 
    padding: 20px;
}
.btninfo{
    /* background: linear-gradient(to right, #ff7e5f, #7b67d3); */
    text-decoration: none;
    border: white;
    color: rgb(4, 4, 4);
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
.btninfo:hover{
    background: black;
    color: white;
    scale: 1.05;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    /* background-color: #b3bbd9dd; */
}
#about{
    background-color: black;
    height: 400px; 
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.638); 

    padding: 20px; 
}

/* div {
    
    border: 1px solid #ccc;
} */

